{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'user.list.title'|trans }}</h1>
    {{ dump(users) }}

    {% for user in users %}
        <a href="{{ path('app_user_show', {'player': user.username}) }}">
            {{ user.username }}
        </a>

    {% endfor %}
{% endblock %}
