{% extends 'baseListByResult.html.twig' %}

{% block title %}{{ 'user.show.title'|trans({'%name%': player}) }}{% endblock %}
{% block headline %}
    <a href="{{ path('app_user_show', {'player': player}) }}">
        {{ 'user.show.title'|trans({'%name%': player}) }}
    </a>
{% endblock %}
