{% extends 'baseList.html.twig' %}

{% block content %}
    {% for result, games in gamesByResult %}
        <h2>{{ ('game.list.'~result~'.title')|trans }} ({{ games|length }})</h2>
        {{ parent() }}
    {% endfor %}
{% endblock %}