<ol class="leaderboard">
    {% for player in players %}
        <li>
            <a href="{{ path('app_player_show', {'uuid': player.uuid}) }}">
                {{ player.name }} ({{ player.won }})
            </a>
        </li>
    {% endfor %}
</ol>