{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for player in players %}
            <li><a href="{{ path('app_player_show', {'id': player.uuid}) }}">{{ player.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}