# At first, not localized routes
app_index:
  path: /
  defaults:
    _controller: FrameworkBundle:Redirect:redirect
    route: app_homepage
  methods: GET

app_login_check:
  path: /login_check
  methods: POST

app_logout:
  path: /logout
  methods: GET

app_homepage:
  path: /{_locale}/
  defaults:
    _controller: FrameworkBundle:Template:template
    template: default/homepage.html.twig

app_player_list:
  path: /{_locale}/player
  defaults:
    _controller: app.controller.player:list
  methods: GET

app_player_show:
  path: /{_locale}/player/{player}
  defaults:
    _controller: app.controller.player:show
  methods: GET

app_player_versus:
  path: /{_locale}/player/{player1}/vs/{player2}
  defaults:
    _controller: app.controller.player:versus
  methods: GET

app_game_list:
  path: /{_locale}/game/list
  defaults:
    _controller: app.controller.game:list
  methods: GET

app_game_show:
  path: /{_locale}/game/show/{uuid}
  defaults:
    _controller: app.controller.game:show
  methods: GET

app_leaderboard_show:
  path: /{_locale}/leaderboard/{sortBy}/{sortAsc}
  defaults:
    _controller: app.controller.leaderboard:show
    sortBy: won
    sortAsc: false
  methods: GET

app_user_login:
  path: /{_locale}/login
  defaults:
    _controller: app.controller.user:login
  methods: GET

app_user_myprofile:
  path: /{_locale}/my-profile
  defaults:
    _controller: app.controller.user:myProfile
  methods: [GET, POST]

app_user_register:
  path: /{_locale}/register
  defaults:
    _controller: app.controller.user:register
  methods: [GET, POST]

app_dropbox_list:
  path: /{_locale}/dropbox
  defaults:
    _controller: app.controller.dropbox:list
  methods: GET

app_dropbox_import:
  path: /{_locale}/dropbox/import/{path}
  defaults:
    _controller: app.controller.dropbox:import
  requirements:
    path: '.+'
  methods: [GET, POST]

app_dropbox_authstart:
  path: /{_locale}/dropbox/auth-start
  defaults:
    _controller: app.controller.dropbox:authStart
  methods: GET

app_dropbox_authfinish:
  path: /{_locale}/dropbox/auth-finish
  defaults:
    _controller: app.controller.dropbox:authFinish
  methods: GET

app_admin_users:
  path: /{_locale}/admin/users
  defaults:
    _controller: app.controller.admin:users
  methods: [GET, POST]

app_import_pgn:
  path: /{_locale}/import/pgn
  defaults:
    _controller: app.controller.import:pgn
  methods: [GET, POST]

app_import_game:
  path: /{_locale}/import/game/{uuid}
  defaults:
    _controller: app.controller.import:game
  methods: [GET, POST]

app_import_deletepgn:
  path: /{_locale}/import/delete/pgn/{uuid}
  defaults:
    _controller: app.controller.import:deletePgn
  methods: POST

app_import_list:
  path: /{_locale}/import/list
  defaults:
    _controller: app.controller.import:list
  methods: GET



# Then all localiced routes
app:
  resource: "@AppBundle/Controller/"
  type:   annotation
  prefix: "/{_locale}"


