{% extends 'base.html.twig' %}

{% block id('player-list') %}
{% block title %}{{ 'player.list.title'|trans }}{% endblock %}

{% block content %}
    {% for user in users %}
        <section class="user">
            <a href="{{ path('app_player_show', {'player': user.username}) }}">
                {{ user.username }}
            </a>
        </section>
    {% endfor %}
{% endblock %}
