{% extends 'base.html.twig' %}

{% block body %}
<div class="register">
    <h1>Register</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">Register</button>
    {{ form_end(form) }}
</div>
{% endblock %}