header {
  background-color: lightblue;
  display: block;
  width: 17vw;
  height: 100vh;
  float: left;

  nav.main {
    a {
      display: block;
    }
  }
}

main {
  margin-left: 17vw;

  form[name=import_pgn] {
    textarea {
      height: 50vh;
      min-height: 7em;
    }
  }

  form[name=game] {
    label {
      min-width: 8rem;
      float: left;
      width: 5vw;
    }

    input {
      width: 70vw;
    }

    textarea {
      width: 70vw;
      height: 10em;
    }

  }
}
