{% extends 'base.html.twig' %}

{% block body %}
    <div class="game-edit">
        {{ form_start(form) }}
        {{ form_errors(form.pgn) }}
        {{ form_widget(form.pgn) }}
        <button type="submit">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
