{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for game in games %}
            <li>
                <a href="{{ path('app_game_show', {'id': game.uuid}) }}">
                    {{ game|gameTitle }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}