{% extends 'base.html.twig' %}

{% block body %}
    {% set title %}<h1>{{ 'game.list.title'|trans }}</h1>{% endset %}
    {{ include('partials/gameList.html.twig', {'games': games, 'title': title}) }}
{% endblock %}