{% extends 'base.html.twig' %}

{% block body %}
    <div class="game-list">
        {% for game in games %}
            <a href="{{ path('app_game_show', {'id': game.uuid}) }}">
                <div class="game">
                    <h2>{{ game|gameTitle }}</h2>
                    {{ pgn(game, {
                        'show-moves': 'false',
                        'show-header': 'false',
                        'show-buttons': 'false'
                    }) }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
