{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ 'import.already_imported.notice'|trans }}</p>
    <a href="{{ path('app_game_show', {'uuid': game.uuid}) }}">{{ 'import.already_imported.link_to_game' }}</a>
{% endblock %}
