{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'import.already_imported.title'|trans }}</>
    <p>{{ 'import.already_imported.notice'|trans }}</>
    <a href="{{ path('app_game_show', {'uuid': game.uuid}) }}">{{ 'import.already_imported.link_to_game'|trans }}</a>
{% endblock %}
