{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <fieldset>
        {{ form_rest(form.pgnString) }}
        <button type="submit">{{ 'import.pgn.form.submit'|trans }}</button>
    </fieldset>
{{ form_end(form) }}

{% endblock %}
