---
- hosts: all
  tasks:
    - debug: var=hostvars
      when: debug|default(false)

- hosts: devbox
  pre_tasks:
    - name: ensure apt-transport-https
      become: true
      apt:
        name: apt-transport-https
        update_cache: true
        state: present
  roles:
    - role: apps/chessdb
      become: true

- hosts: pi
  roles:
#    - role: apps/chessdb
#      become: true
    - role: packages/pi
      become: true
    - role: apps/chessdb
      become: true
