---
- hosts: all
  tasks:
    - debug: var=hostvars

- hosts: devbox
  pre_tasks:
    - name: ensure apt-transport-https
      become: true
      apt:
        name: apt-transport-https
        update_cache: true
        state: present
  roles:
    - role: apps/chessdb
      become: true
